extends _layout.pug

mixin formField(fieldClass, fieldName)
  +e.field.js-field
    +e.input(class=fieldClass)
      input(type="text" name=fieldName data-type=fieldClass value=data("form.field." + fieldClass + ".val") placeholder=data("form.field." + fieldClass + ".placeholder"))/
    +e.hint-icon
    //- +e.hint-text.valid=data("form.field." + fieldClass + ".hint.help")
    //- +e.hint-text.error=data("form.field." + fieldClass+ ".hint.error")
    +e.hint-text.focus=data("form.field." + fieldClass + ".hint.help")

block order-sum
  +e.order-sum
    +e.order-line
    +e.order-total=data("form.order.sum")

block content
  +b.FORM.b-card-form.js-form(action="" method="GET")
    +e.field-list
      +formField('cardnumber', 'cardnumber')

      +e.field-group.--left-hint
        +formField('expdate', 'expdate')
        +formField('cvc', 'cvc')

      +formField('cardholder', 'cardholder')
      //- +formField('email', 'email')
      //- +formField('phone', 'phone')
      //- +formField('city', 'city')

    +e.check-list
      +b.e-checkbox
        +e.INPUT.input(type='checkbox' id="check-1")
        +e.LABEL.label(for="check-1" checked)=data("form.send.receipt.label")

    +e.btn
      input.e-btn(type='submit' value=data("form.btn.submit.val"))/

    //- input.e-btn.primary(type='submit' value=data("form.btn.submit.val"))/
    //- input.e-btn.secondary(type='submit' value=data("form.btn.submit.val"))/

    //- a.e-btn.ok(href="/ok.html") Ok
    //- a.e-btn.error(href="/error.html") Error


block privacy-policy
  +e.privacy-policy!= 'Нажимая &laquo;Оплатить&raquo;, вы&nbsp;безусловно соглашаетесь<br />с&nbsp;<a href="javascript:void(0)">политикой конфиденциальности</a>.'
